<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/decifrar.css">
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
</head>
  <body>
    <a><i class="fa fas far fa-caret-square-left"></i></a> <!--Pon la dirección del index en la etiqueta a xd-->
      <div class="main-container">
        <div class="whenFlexeas">
            <form>
              <h2>Seleccione el archivo a descencriptar</h2>
              <input type="file" id="archivo1" />
              <h2>Ingresa la contraseña</h2>
              <input type="text" id='contraseña' >
              <input type="button" onclick="desencriptar()" value="Decifrar" id="enviar">
            </form>
        </div>
      </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  </body>
</html>
