<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <form>
    <h2>Selcecione el archivo a descencriptar</h2>
  <input type="file" id="archivo1" />
  <h2>cual es la contraseña</h2>
    <input type="text" id='contraseña' >
    <input type="button" onclick="desencriptar()" value="decifrar">
</form>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</body>
</html>
